<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<form action="/pages/create" method="get" >
  <input name="name">
  <input name="age">
  <input name="email">
  <input type="submit" value="Enviar">
</form>

<%User.all.each do |i|%>
    <p>Nombre: <%= i.name %></p>
    <p>Edad: <%= i.age %></p>
    <p>Email: <%= i.email %></p>
<%end%>