<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<form action="/pages/create" method="get" >
  <input name="name">
  <input name="age">
  <input type="submit" value="Enviar">
</form>
